.contact {
    font-family: 'Playfair Display', serif;
    margin-top: 10px;
} 
#container {
    display: flex;
    flex-direction: column;
    align-items: column;
    width: 20rem;
    margin-left: 20px;
}
#name {
    border-radius: 7px;
}

#email {
    border-radius: 7px;
}

#number {
    border-radius: 7px;
}

#message {
    border-radius: 7px;
    height: 100px;
}

.Submit i {
    border: none;
    color: rgb(25, 23, 23);
    display: flex;
    justify-content:center;
    align-items:center;
    border-radius: 100%;
    background-color:rgb(242, 234, 234);
    padding: 0.5rem;
}
.btn-Submit {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.Submit {
    color: rgb(255, 245, 245);
    background-color:rgb(34, 33, 33);
    border-color: rgb(15, 15, 15);
    display: flex;
    border-radius: 10px;
    width: 5.2rem;
    cursor: pointer;
}
Button a {
    color: rgb(255, 245, 245);
    padding-top:5px;
}

h3 {
    font-size: 1.4rem;
    color: rgb(9, 9, 9);
}

label{
    font-size: 1.4rem;
    color: rgb(9, 9, 9);
}

select{
    border-radius: 7px;
}

#text h2{
    font-family: 'Playfair',serif;
    font-size: 15px;
    font-weight: lighter;
    color: rgb(42, 42, 43);
    margin-bottom: 5px;
   text-align: justify;
   margin-left: 10px;
   margin-right: 10px;
}
.crys{
    display: none;
}

@media screen and (min-width:768px) {
    #container {
        display: flex;
        margin-right: 70rem;
        padding-top:10px;
        padding: 15px;
    }
    #name {
        border-radius: 10px;
        width:45rem;
        height:40px;
        font-size:20px;
    }
    
    #email {
        border-radius: 10px;
        width:45rem;
        height:40px;
        font-size:20px;
    }
    
    #number {
        border-radius: 10px;
        width:45rem;
        height:40px;
        font-size:20px;
    }
    
    select{
        border-radius: 10px;
        width:45rem;
        height:40px;
        font-size:20px;
    }
    
    #message {
        border-radius: 10px;
        height: 150px;
        width: 90rem;
        font-size:20px;
    }
    .btn-Submit {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 25px;
        margin-left: 45rem;
        height: 100px;
    }
    .Submit i {
        height: 40px;
    }
    #text h2{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Playfair',serif;
        font-size: 20px;
        font-weight: lighter;
        color: rgb(42, 42, 43);
        margin-bottom: 5px;
    }
 .crys{
    display:unset;
    width:330px;
    height: 330px;
    margin-left: 50%;

 }   
 h3 {
    font-size: 1.4rem;
    color: rgb(9, 9, 9);
    font-weight: lighter;
}
::placeholder{
    font-size:20px;
}   
#formpic{
    display: flex;
justify-content: space-between;
}
}