#text h1{
    font-family: 'Playfair Display', serif;
    margin-top: 10px;
    margin-bottom: 0%;
} 
#container {
    display: flex;
    flex-direction: column;
    align-items: column;
    width: 20rem;
    margin-left: 20px;
    margin-bottom: 20px;
}
#name {
    border-radius: 7px;
}

#email {
    border-radius: 7px;
}

#tel {
    border-radius: 7px;
}

#message {
    border-radius: 7px;
    height: 100px;
}

h3 {
    font-size: 1.4rem;
    color: rgb(9, 9, 9);
}

label{
    font-size: 1.4rem;
    color: rgb(9, 9, 9);
}

select{
    border-radius: 7px;
}

#text h2{
    font-family: 'Playfair',serif;
    font-size: 15px;
    font-weight: lighter;
    color: rgb(42, 42, 43);
    margin-bottom: 5px;
   text-align: justify;
   margin-left: 10px;
   margin-right: 10px;
   margin-top:0%;
}
.crys{
    display: none;
}
.submit-btn{
    border-radius: 20px;
    background-color: white;
    border: solid 1px black;
    height: 25px;
    width: 80px;
    font-size: 15px;
    font-weight: lighter;
    color: black;
    font-family: 'Playfair',serif;
    text-align: center;
}
.bttn{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


@media screen and (min-width:361px) {

    .contact{ font-family: 'Playfair Display', serif;
    margin-top: 10px;
    margin-bottom: 0%;
    font-size: 65px;
    }

    #container {
        display: flex;
        margin-right: 70rem;
        padding-top:10px;
        padding: 15px;
    }
    #name {
        border-radius: 10px;
        width:45rem;
        height:40px;
        font-size:20px;
    }
    
    #email {
        border-radius: 10px;
        width:45rem;
        height:40px;
        font-size:20px;
    }
    
    #tel {
        border-radius: 10px;
        width:45rem;
        height:40px;
        font-size:20px;
    }
    
    select{
        border-radius: 10px;
        width:45rem;
        height:40px;
        font-size:20px;
    }
    
    #message {
        border-radius: 10px;
        height: 150px;
        width: 90rem;
        font-size:20px;
    }
  
    #text h2{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Playfair',serif;
        font-size: 20px;
        font-weight: lighter;
        color: rgb(42, 42, 43);
        margin-bottom: 5px;
        margin-left: 30px;
    }
 .crys{
    display:unset;
    width:330px;
    height: 330px;
    margin-left: 50%;

 }   
 h3 {
    font-size: 1.4rem;
    color: rgb(9, 9, 9);
    font-weight: lighter;
}
::placeholder{
    font-size:20px;
}   
#formpic{
    display: flex;
justify-content: space-between;
}
.submit-btn{
    border-radius: 20px;
    background-color: white;
    border: solid 1px black;
    height: 50px;
    width: 120px;
    font-size: 20px;
    font-weight: lighter;
    color: black;
    font-family: 'Playfair',serif;
 
}
.submit-btn:hover{
    border: 2px solid black;
}
.bttn{
    display: flex;
    justify-content: left;
}
}


